<!DOCTYPE html>
<html>
 <head> 
  <title>Place Search 페이지를 찾을 수 없습니다.</title> 
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" /> 
  <link href="//fonts.googleapis.com/css?family=Capriola" rel="stylesheet" type="text/css" /> 
  <link href="/css/404.css" rel="stylesheet" type="text/css" media="all" /> 
 </head> 
 <body> 
  <div class="wrap"> 
   <div class="logo"> 
    <h1>404</h1> 
    <p> Sorry - File not Found!</p> 
    <div class="sub"> 
     <p><a href="/"> Back to Home</a></p> 
    </div> 
   </div> 
  </div> 
  <div class="footer">
    &copy; 
   <script type="text/javascript">
 	 document.write(new Date().getFullYear());
	</script> Funky 500 . All Rights Reserved | Design by
  </div> 
 </body>
</html>